.git
.github
.venv
__pycache__
.pytest_cache
.mypy_cache
.coverage
htmlcov
.env
.env.*
!.env.example
.poetry-bin
.celery
*.md
.tasks
docker-compose.override.yml
**/__pycache__
**/*.pyc
**/*.db-journal
